<!DOCTYPE html>
<html>
<head>
    <title>Drink Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="menu-container">
        <h1>What type of drink are you feeling?</h1>
        <ul class="menu-options">
            <li class="menu-option"><a href="/cold_drink">Cold drink</a></li>
            <li class="menu-option"><a href="/refreshing_drink">Refreshing drink</a></li>
            <li class="menu-option"><a href="/hot_drink">Hot drink</a></li>
            <li class="menu-option"><a href="/coffee">Coffee</a></li>
            <li class="menu-option"><a href="/view_menu">View full menu</a></li>
        </ul>
    </div>
</body>
</html>
